.container {
  width: 85%;
  height: 20%;

  background-color: white;

  display: flex;
  justify-content: center;

  border-radius: 13px 13px 13px 13px;

  position: absolute;

  /* z-index: 555; */
  width: 70%;
  height: 150px;
  transform: translate(22.5%, -50%);
}
