.container {
  width: 85%;
  height: 20%;

  background-color: white;

  position: fixed;
  float: left;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -135%);

  display: flex;
  justify-content: center;

  border-radius: 13px 13px 13px 13px;
}
