form.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 30rem;
  height: 3rem;
  border: none;
  border: solid 1px white;

  padding: 1.5rem;
  border-radius: 13px 0px 0 13px;
}

input[type="text"] {
  font-size: large;
}

.searchBtn {
  height: 3.3rem;
  width: 3rem;

  margin-left: -0.5rem;

  border: none;
  border: solid 3px black;

  background-color: black;
  color: white;

  padding: 10px;
  border-radius: 0 13px 13px 0;
}
